input.button{
  padding: 16px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 80px;
}
input.button:hover {
  background-color: #555555;
  color: white;
}

input.setting{
  background-color: black;
  color: white;
}
input.setting:hover {
  color: black;
}
