
.buttonBox{
	width: 100%;
}

.buttonJp {
	padding: 5px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border: thick solid white;
	width: 100%;
	font-weight: bold;
	overflow: hidden;
	height: 60px;
}

.showText{
	border: thick solid grey;
	background-color: white;
	text-align: center;
}

.next{
	background-color: #555555;
	color: white;
}

.buttonJp.active {
	background-color: #4d4d4d;
	color: white;
}

.btnFilter{
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 35px;
	padding: 1px 0px;
	background-color: #878787;
	color: white;
}





#source
, #source0
, #source2
, #source3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	font-size: 16px;
	width: 100%;
}

#source td, #source th
, #source0 td, #source0 th
, #source2 td, #source2 th
, #source3 td, #source3 th{
	border: 1px solid #ddd;
}

#source tr:nth-child(even)
, #source0 tr:nth-child(even)
, #source2 tr:nth-child(even)
, #source3 tr:nth-child(even)
{background-color: #f2f2f2;}

#source tr:hover
, #source0 tr:hover
, #source2 tr:hover
, #source3 tr:hover
{background-color: #ddd;}

#source th
, #source0 th
, #source2 th
, #source3 th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #949494;
	color: white;
}

#source0 td, #source0 th
#source2 td, #source2 th
, #source3 td, #source3 th {
	text-align: center;
	font-size: 20px;
}

.accentJpValue{
	font-size:1.5vw;
}
