.encryDisplay, .numKey{
  fill:#ffffff;
  stroke:#f5e5e5;
}

.numKey.pressed{
  fill: #f3e7e7;
  stroke: #f5cbcb;
}

.encryText, .keyText{
  font-weight: bold;
  fill: red;
}

.wrong{
  stroke: #ff0000;
  stroke-width: 6px;
}

.loading{
  stroke: #f5f4f4;
  stroke-width: 2px;
}
