.whiteKey{
  fill:#ffffff;
  stroke:#000000;
}

.blackKey{
  fill:#000000;
  stroke:#000000;
}

.whiteKey.pressed{
    fill: #e4e4e4;
    stroke: #ffffff;
}

.blackKey.pressed{
    fill: #8e8e8e;
    stroke: #ffffff;
}
