.whiteKey{
  fill:#ffffff;
  stroke:#706e6e;
}

.blackKey{
  fill:#000000;
  stroke:#000000;
}

.whiteKey.pressed{
    fill: #f3e7e7;
    stroke: #ffffff;
}

.blackKey.pressed{
    fill: #8e8e8e;
    stroke: #ffffff;
}
