.whiteKey{
  fill:#fdfdfb;
  stroke:#706e6e;
}

.whiteKey3D{
  fill: #ededec;
}

.blackKey{
  fill:#2f2f2d;
  stroke:#000000;
}

.blackKey3D{
  stroke:#6f6f6f;
  fill: #dfdfdf;
}

.whiteKey.pressed{
  fill: #f3e7e7;
  stroke: #ffffff;
}

.blackKey.pressed{
    fill: #8e8e8e;
    stroke: #ffffff;
}

#fileInput{
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #ff8888;
  display: inline-block;
  width: 99%;
}

.pianoList{
   text-align: center;
}

.active{
  background-color: #6e6c6c;
}
.disabled{
  background-color: #c0c0c0;
}
.abled{
  background-color: #615f5f;
}

.pianoFramework{
  stroke: #dedede;
}

.pianoFramework_1{
  fill: #4f4f4f;
}

.pianoFramework_2{
  fill: #383838;
}

.pianoFramework_3{
  fill: #808080;
}

.pianoFramework_4{
  fill: #e8ba2f;
}

.pianoFramework_5{
  fill: #232323;
}
