.spark{
  position: absolute;
  opacity: 0;
}

.sparkAnimation{
  animation-duration: 0.2s;
}

.spark_0{
  animation-name: process_0;
}
.spark_1{
  animation-name: process_1;
}
.spark_2{
  animation-name: process_2;
}
.spark_3{
  animation-name: process_3;
}
.spark_4{
  animation-name: process_4;
}
