.first_words{
	margin-left:30px;
	margin-right:30px;
	font-size: 30px;
	margin-top: -20px;
	margin-bottom: -10px;
	font-weight:bold;
}

@media screen and (max-width: 650px) {
	
	.first_words{
		font-size: 16px;
	}
}