/*for login_not_yet.php below*/
form input.button_for_not_yet_page_login{
	font-size: 26px;
	font-weight:bold;
	background-color:#b7ffaf;
	color:#898989;
}

form input.button_for_not_yet_page_login:hover{
	background-color:#9bf291;
}

/*for login_not_yet.php above*/

body{
	margin-left:30px;
	margin-right:30px;
}


#logo{
	margin-left:-30px;
}

.first_words{
	font-size: 30px;
	margin-top: -40px;
	margin-bottom: 10px;
	font-weight:bold;
}
div.userinfo{
	margin-bottom:10px;
}

span.username, span.coins{
	font-size: 16px;
	padding-right:30px;
	font-weight:bold;
}



input[type="submit"]{
	color:#8c7e7e;
    border-radius: 5px;
}
input[type="submit"]:hover{
	background-color:#cecccc;
}

a.button{
	font-size: 26px;
	margin-right: 20px;
	font-weight:bold;
	border: 2px solid #fcefef;
	background-color: #fcefef;
}

.subtitle{
	margin-bottom: 10px;
}

sup {
    vertical-align: super;
    font-size: 18px;
	font-weight: bold;
	border: 5px solid #e80000;
	color:white;
	background-color:#e80000;
	border-radius: 50px;
	margin-left:-22px;
	margin-right:16px;
}






.dropbtn {
	font-size: 26px;
	color:#8c7e7e;
    background-color: #fcefef;
	font-weight:bold;
    border: 2px solid #fcefef;
    cursor: pointer;
	
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	font-weight:bold;
	font-size: 26px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fcefef;
}


a.button, a.sort_button, .detail a{
	text-decoration:none;
}


#myInput{
	height:28px;
	font-size: 18px;
	width:70%;
	margin-right:5px;
	margin-bottom:30px;
	max-width: 400px;
}


button[type="submit"]{
    border-radius: 45px;
}

.list{
	
}
.list .list_of_source{
	
}
.list .list_of_source .item, .divider1{
	margin-left:-30px;
}

.detail{
	
}
a.filter_item{
	
}

.detail #available{
	color: #470021;
	font-weight:bold;
}
.detail #resolved{
	color: #d8c7cf;
}


.title, .reward, .resolved, a.button, a.sort_button{
	color:#897575;
}
.title:hover, a.button:hover, a.sort_button:hover, .detail #resolved.title:hover, .detail #available.title:hover{
	color:#e52424;
}
.title, .resolved, .caller{
	padding-bottom : 3px;
}
.title{
	font-size: 22px;
}

.reward, .resolved, .caller, .receiver, .date{
	padding-right : 50px;
	display: inline;
	float:left;
	font-size: 18px;
}
.date, .caller{
	font-size: 16px;
}

.receiver{
	display: none;
}


.divider1 {
    margin-top:1px;
    border-top:1px solid #999;
}




/*logined_nex.php style below*/
.next_topic, .next_reward, .next_status{
	font-size: 25px;
	font-weight: bold;
}
.next_detail{
	margin-top: 15px;
	margin-bottom: 15px;
}
.next_detail, .next_caller, .next_receiver{
	font-size: 25px;
}
.next_receiver, .next_date{
	margin-bottom: 16px;
}
/*logined_nex.php style above*/




/*logined_new_post.php style below*/
.container_new_post input[type="text"], textarea{
	width:100%;
	margin-bottom:5px;
	max-width:550px;
}
/*logined_new_post.php style above*/




/*reply success message below*/
.success_reply {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
}

/*reply success message above*/



@media screen and (max-width: 650px) {
	
	
	/*for login_not_yet.php below*/
	form input.button_for_not_yet_page_login{
		font-size: 16px;
	}
	/*for login_not_yet.php above*/

	
	.first_words{
		font-size: 16px;
	}
	span.username, span.coins{
		font-size: 15px;
		padding-right:22px;
	}
		
	a.button{
		font-size: 12px;
		margin-right: 1px;
	}		
	
	
	sup {
		font-size: 8px;
		border: 2px solid #e80000;
		margin-left:-8px;
		margin-right:2px;
	}

	.dropdown-content a {
		font-size: 12px;
	}	

	.dropbtn {
		font-size: 12px;
	}	
		
		
	#myInput{
		height:24px;
		font-size: 16px;
		margin-bottom:15px;
	}		
	form.search_bar{
		margin-top:-15px;
	}	
		
		
	.title{
		font-size: 16px;
	}
	.reward, .resolved, .caller, .receiver, .date{
		font-size: 14px;
	}
	.date, .caller{
		font-size: 10px;
	}
	
	/*logined_nex.php style below*/
	.next_topic, .next_reward, .next_status{
		font-size: 18px;
		font-weight: bold;
	}
	.next_detail{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.next_detail, .next_caller, .next_receiver{
		font-size: 18px;
	}
	.next_date{
		font-size: 14px;
	}
	/*logined_nex.php style above*/

	
	
	.success_reply {
		margin-top: 25px;
		margin-bottom: 0px;
		font-size: 25px;
	}
}