.container_left{
	float:left;
	width:30%;
	margin-left:-50px;
}

.container_right{
	float:right;
	width:70%;
}

iframe.iframe_left {
	position: absolute; 
	height: 80%; 
	width:35%;
	border: none;
}
iframe.iframe_right {
	width:100%;
	height: 80%; 
	position: absolute; 
	border: none;
}
form.logined_next_back{
	display:none;
}

@media screen and (max-width: 750px) {
	form.logined_next_back{
		display:block;
	}
	.container_left{
		display:none;
	}	
	.container_right{
		width:100%;
	}		
}