

.list_of_source {
	margin-left: 90px;
}

.item {
    min-width: 405px;
    width: 230px;
    float: left;
	margin: 10px;
    min-height: 300px;
    border: 10px solid #eee;
    border-radius: 10px;
    -webkit-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
    opacity: 1;
	white-space: nowrap; /*to hide the too long text*/
	overflow: hidden;
	text-overflow: ellipsis;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #fbf7ff;
	text-align: center;
}

img{
	height: 195px;
	width: 195px;
}



.filter_border, .detail{
	font-size: 16px;
    text-align:center;
	width: 400px;
}

.date, .promo, .price
{
    display:inline;
}

.size, .hour
{
    display:inline;
}

.yes_or_no{
	 display:inline;
	 margin:10px;
}


#myInput, #myInput2{
    background-image: url("/img/search_icon_4.png"); /* Add a search icon to input */
    background-position: 0px 0px; /* Position the search icon */
	background-size: 44px, 44px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 80%; /* Full-width */
	max-width: 200px;
    font-size: 16px; /* Increase font-size */
    padding: 12px 1px 12px 45px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 5px; /* Add some space below the input */
}

.sort{
	background-color: #edfaff;
    background-image: url("/img/filter_icon.png"); /* Add a search icon to input */
    background-position: 0px 1px; /* Position the search icon */
	background-size: 20px, 20px;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
	max-width: 108px;
    font-size: 16px; /* Increase font-size */
	color:#016991;
	font-weight: bold;
    padding: 2px 1px 1px 1px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 2px; /* Add some space below the input */
}


#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}




.video_frame{
	border: 20px solid #ede1e1;
	box-sizing: border-box;
	border-radius: 25px;
}

.new_img_yes{
	height: 40px; 
	width: 40px;
	float:left;
	margin-top: -40px; 
}
.new_img_no{
	height: 60px; 
	width: 60px;
	float:right;
	margin-top: -379px; 
}




.list_of_source li {
  cursor: pointer;
  
}
.list_of_source li:hover:after,
.list_of_source li.fav:after {
  font-size: 30px;
  content: ' \2605';
  color: rgb(255, 203, 0);
}
.list_of_source li.fav:hover:after {
  content: ' \2606';
}


a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
 } 


@media screen and (max-width: 750px) {
	
	#title{
		font-size: 10px;
	}
	
	.img_container, .filter_border, .detail{
		max-width: 225px;	
		text-align:left;
	}
	
	.small_video_img{
		max-height: 150px;
		max-width: 225px;			
	}
	
	body {
		font-size: 12px;
	}

	.item {
		margin: auto;
		min-width: 230px;
		width: 170px;
		float: left;
		margin: 1px;
		border: 5px solid #eee;
		min-height: 50px;
	}

	.video_frame{
		border: 12px solid #ede1e1;
	}
	
	
	
	
	
	
	
	
	
	.new_img_yes{
		height: 40px; 
		width: 40px;
		float:right;
		margin-top: -40px; 
	}
	.new_img_no{
		height: 60px; 
		width: 60px;
		float:right;
		margin-top: -379px; 
	}
}