body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #fbf7ff;
}

.item {
    min-width: 211px;
	height: 415px;
    width: 0px;
    min-height: 445px; /*295*/
}

.filter_border, .detail{
	width: 207px;
}
.small_video_img{
	height: 290px; 
	width: 207px;
	position: relative;
	z-index: 1;
	
}

.filter_item{
	color:#878585;
	font-weight: bold;
}

.new{
	position: relative;
	z-index: 2;
}

@media screen and (max-width: 750px) {
	.list_of_source {
		margin-left: 0px;
	}
	.small_video_img{
		max-height: 315px;
		max-width: 225px;			
	}

}