input[type=submit] {
    width: 50%;
    background-color: #00ad90;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[class=can_click]:hover {
    background-color: #00ffe5;
}

a.load_data{
	margin-right: 5px;
	margin-left: 5px;
}